.item-carousel {
  .ant-upload-select {
    width: 179px !important;
    height: 179px !important;
  }
}
.modal-custom {
  width: 40vw !important;
  height: 500px !important;
}
.modal-option__radio {
  .ant-radio-label {
    width: 100% !important;
  }
}
